<div class="container mt-3">
  <section class="jumbotron text-center">
    <div class="container jumbotron-content">
      <h1 class="jumbotron-heading">ALPHA BLOG</h1>
      <p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <%= link_to 'Log In', signup_path, class: "btn btn-primary my-2" %>
        <a href="#" class="btn btn-secondary my-2">Sign Up</a>
      </p>
    </div>
  </section>
</div>